/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2017 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      FontSite Inc.
 * License URL: https://www.fontspring.com/licenses/fontsite/webfont
 *
 *
 */

@font-face {
    font-family: 'franklin_gothic';
    src: url('franklingothic-book-webfont.eot');
    src: url('franklingothic-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('franklingothic-book-webfont.woff2') format('woff2'),
         url('franklingothic-book-webfont.woff') format('woff'),
         url('franklingothic-book-webfont.ttf') format('truetype'),
         url('franklingothic-book-webfont.svg#franklin_gothic_fsbook') format('svg');
    font-weight: normal;
    font-style: normal;
}
