@font-face {
  font-family: 'franklin_gothic';
  src: url(../fonts/franklingothicfs_book_macroman/franklingothic-book-webfont.eot);
  src: url(../fonts/franklingothicfs_book_macroman/franklingothic-book-webfont.eot#iefix) format('embedded-opentype'), url(../fonts/franklingothicfs_book_macroman/franklingothic-book-webfont.woff2) format('woff2'), url(../fonts/franklingothicfs_book_macroman/franklingothic-book-webfont.woff) format('woff'), url(../fonts/franklingothicfs_book_macroman/franklingothic-book-webfont.ttf) format('truetype'), url(../fonts/franklingothicfs_book_macroman/franklingothic-book-webfont.svg#franklin_gothic_fsbook) format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'franklin_gothic';
  src: url(../fonts/franklingothicfs_bookitalic_macroman/franklingothic-bookit-webfont.eot);
  src: url(../fonts/franklingothicfs_bookitalic_macroman/franklingothic-bookit-webfont.eot#iefix) format('embedded-opentype'), url(../fonts/franklingothicfs_bookitalic_macroman/franklingothic-bookit-webfont.woff2) format('woff2'), url(../fonts/franklingothicfs_bookitalic_macroman/franklingothic-bookit-webfont.woff) format('woff'), url(../fonts/franklingothicfs_bookitalic_macroman/franklingothic-bookit-webfont.ttf) format('truetype'), url(../fonts/franklingothicfs_bookitalic_macroman/franklingothic-bookit-webfont.svg#franklin_gothic_fsbook_italic) format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'franklin_gothic';
  src: url(../fonts/franklingothicfs_demi_macroman/franklingothic-demi-webfont.eot);
  src: url(../fonts/franklingothicfs_demi_macroman/franklingothic-demi-webfont.eot#iefix) format('embedded-opentype'), url(../fonts/franklingothicfs_demi_macroman/franklingothic-demi-webfont.woff2) format('woff2'), url(../fonts/franklingothicfs_demi_macroman/franklingothic-demi-webfont.woff) format('woff'), url(../fonts/franklingothicfs_demi_macroman/franklingothic-demi-webfont.ttf) format('truetype'), url(../fonts/franklingothicfs_demi_macroman/franklingothic-demi-webfont.svg#franklin_gothic_fsdemi) format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'franklin_gothic';
  src: url(../fonts/franklingothicfs_demiitalic_macroman/franklingothic-demiit-webfont.eot);
  src: url(../fonts/franklingothicfs_demiitalic_macroman/franklingothic-demiit-webfont.eot#iefix) format('embedded-opentype'), url(../fonts/franklingothicfs_demiitalic_macroman/franklingothic-demiit-webfont.woff2) format('woff2'), url(../fonts/franklingothicfs_demiitalic_macroman/franklingothic-demiit-webfont.woff) format('woff'), url(../fonts/franklingothicfs_demiitalic_macroman/franklingothic-demiit-webfont.ttf) format('truetype'), url(../fonts/franklingothicfs_demiitalic_macroman/franklingothic-demiit-webfont.svg#franklin_gothic_fsdemi_italic) format('svg');
  font-weight: bold;
  font-style: italic;
}

body {
  color: #232d4b;
  font-size: 18px;
  font-family: franklin_gothic, arial, sans-serif;
  margin: 0;
}

*,
::after,
::before {
  box-sizing: border-box
}

h1 {
  font-size: 42px;
  font-weight: 700;
  margin: 10px 0 0px 0
}

.header {
  padding: 20px 25px;
  background: #e8e8e8;
  border-top: 4px solid #ed6d0b;
  border-bottom: 1px solid #ccc;
}

.header .container,
.footer .container {
  max-width: 1080px;
  margin: 0 auto;
}

.header-logo {
  display: block;
  width: 14em;
  margin-bottom: 0;
}

.header h1,
.header svg {
  color: #000;
}

.content {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px 25px 6em 25px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.col-md-4,
.col-md-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

form {
  width: 100%;
  border: 1px solid #c8c8c8;
  border-radius: 6px;
  padding: 8px;
  margin-bottom: 1em;
}

form p {
  margin: .25em 0;
}

form .col-md-8 label {
  display: inline-block;
  width: 10em;
  font-weight: bold;
  text-align: right;
}

form .col-md-4 {
  text-align: center;
}

input[type=button] {
  background-color: #fff;
  border: 2px solid #ed6d0b;
  font-weight: 700;
  font-family: franklin_gothic, arial, sans-serif;
  line-height: 1;
  text-decoration: none;
  padding: .9375rem 1.5625rem;
  border-radius: 6px;
  margin-bottom: 16px;
  font-size: 1rem;
  text-align: left;
  color: #000;
  transition: all .3s ease;
  width: auto;
  white-space: nowrap;
  display: inline-block;
}

input[type=button]:hover {
  background: #000;
  border-color: #000;
  color: #fff;
  cursor: pointer;
}

input[type=text] {
  background: #fff;
  border: 1px solid #999;
  font-family: franklin_gothic, arial, sans-serif;
  font-size: 18px;
  padding: 2px 3px;
  vertical-align: baseline;
  height: 40px;
  width: calc(100% - 11em);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #c2c2c2;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  margin-bottom: 8px;
}

#ratioOptions:hover #ratioTooltip {
  display: block;
}

#ratioTooltip {
  display: none;
  background: #C8C8C8;
  padding: 10px;
  position: absolute;
  z-index: 1000;
  width: 250px;
  font-size: 16px;
  border-radius: 12px;
}

canvas {
  display: block;
  border: 2px solid #888;
}

#cvshd,
#cvs,
#downloadlink {
  display: none;
}

#imgs {
  margin: 0 25px;
  max-width: 700px;
}

#imgs img {
  width: 100%;
}

.zoom-screenshot {
  display: block;
  width: 100%;
  max-width: 700px;
  margin: 0 auto 2em auto;
  border: 1px solid #ddd;
}

.zoom-map {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.zoom-map a {
  position: absolute;
  left: 6.5%;
  top: 40.5%;
  width: 20%;
  height: 20%;
  z-index: 2;
}

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: .8em;
  color: #fff;
  background-color: #333;
  padding: 1rem 10px 1.15rem 10px;
  border-top: 5px solid #ed6d0b;
}

.footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  line-height: 1.5em;
}

.footer a {
  text-decoration: none;
  color: #fff;
}

.footer .pu-logo img {
  width: 160px;
}

.footer .col-md-4 {
  margin-bottom: 1.5em;
}

svg.ext {
  width: 1em;
  height: 1em;
}

.footer svg.ext {
  fill: #fff;
}

@media (max-width: 767px) {
  #imgs {
    height: auto !important;
  }
}

@media (min-width: 768px) {
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .header {
    padding: 20px 50px;;
  }
  .content {
    padding: 20px 50px 6em 50px;
  }
  .footer {
    position: fixed;
    padding: 1rem 35px 1.15rem 35px;
  }
  .footer .col-md-4 {
    margin-bottom: 0;
  }
  .footer .col-md-4+.col-md-4 {
    text-align: center;
  }
  .footer .col-md-4+.col-md-4+.col-md-4 {
    text-align: right;
  }
}
